// Colors
$primary: #D04F4F;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Lato:wght@400;700&display=swap');

$font-family-base: 'Lato', sans-serif;
$headings-font-family: 'DM Sans', sans-serif;
$headings-font-weight: bold;