.search-form {    
    input {
        border: none;
    }

    &::after {
        transition: 0.2s;
        content: "Veuillez saisir au moins 3 caractères";
        opacity: 0;
        position: absolute;
        right: 0;
        bottom: -2rem;
        color: $primary;
    }

    &[data-error-visible="true"]::after{
        opacity: 1;
    }

    &:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }
}