* {
  transition: 0.2s;
}

// custom scrollbar
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(208, 79, 79, 0.7);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(208, 79, 79, 0.5);
  }