// Colors
$primary: #D04F4F;

$ingredient: #3282F7;
$appliance: #68D9A4;
$ustensil: #ED6454;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Lato:wght@400;700&display=swap');

$font-family-base: 'Lato', sans-serif;
$headings-font-family: 'DM Sans', sans-serif;
$headings-font-weight: bold;

$font-size-base: 0.9rem;